.back_color{
    background-color: #80808029 !important;
  }

  .color_size{
    font-size: 50px;
    font-weight: 900;
    color: #0000ff91;
  }
  .Reliabit{
    font-size: 23px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.562);
  }
  .card_height{
    height: 390px !important;
  }
  .shdow:hover{
    cursor: pointer;
    box-shadow: 1px 1px 46px -1px rgba(99,0,255,0.72);
-webkit-box-shadow: 1px 1px 46px -1px rgba(99,0,255,0.72);
-moz-box-shadow: 1px 1px 46px -1px rgba(99,0,255,0.72);
  }